@font-face {
    font-family: Roboto;
    src: url(/src/assets/fonts/Roboto-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: Merriweather;
    src: url(/src/assets/fonts/Merriweather-VariableFont_opsz\,wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root {
    --primary-color: #141414;
    --secondary-color: #202020;
    --shadow-color: #2e2e2e;

    --card-color: #323232;

    --primary-font-color: #fffcf2;

    --primary-icon-color: brightness(0) saturate(100%) invert(27%) sepia(11%) saturate(2635%) hue-rotate(169deg) brightness(102%) contrast(86%);
    --secondary-icon-color: brightness(0) saturate(100%) invert(92%) sepia(1%) saturate(1805%) hue-rotate(337deg) brightness(108%) contrast(101%);
}
  
img {
    max-width: 100%;
    display: block;
    height: auto;
}

h2 {
    font-family: Merriweather;
    font-weight: 400;
}
p {
    font-family: Roboto;
    color: var(--primary-font-color);
    font-size: 1.1em;
}

body::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 30rem;
    background-color: var(--primary-color);
    transform-origin: 0;
    transform: skewY(-10deg);
    box-shadow: 0rem 0.1rem 1rem var(--shadow-color);
}

body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    background-color: var(--secondary-color);
}

/* HEADER */
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 8rem;
    grid-area: header;
}

.header-photo-container {
    position: relative;
    height: 25rem;
    min-width: 25rem
}
.header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 30%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.overlay {
    position: absolute;
    background: rgba(0,0,0,0.2);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-person-name {
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-family: Roboto;
    font-weight: 200;
    color: var(--primary-font-color);
    z-index: 1;
}
.about-me-container {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    padding: 2rem;
    max-width: 40rem;
    gap: 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.about-me-container h1, #main h1, #footer h1 {
    font-size: 2.5em;
    font-weight: 500;
    color: var(--primary-font-color);
}
.about-me-container p {
    font-weight: 200;
    line-height: 1.8em;   
}
.about-me-socials {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.5em;
}

.about-me-socials img, .card-links img {
    width: 1.8rem;
}

/* MAIN */
#main {
    display: flex;
    flex-direction: column;
    grid-area: main;
    padding: 5rem 8rem;
    gap: 2em;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    background-color: var(--primary-color);
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.card h2 {
    font-family: Roboto;
    font-weight: 300;
    color: var(--primary-font-color);
}
.card p {
    font-weight: 200;
}
.card-info {
    display: flex;
    flex-direction: column;;
    padding: 1rem;
    gap: 1em;
}
.card .main-image {
    object-fit: cover;
    height: 19rem;
    width: 100%;
}
.card-name-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-links {
    display: flex;
    gap: 1em;
}
.card-links img {
    width: 1.5rem;
}

/* FOOTER */
#footer {
    display: flex;
    justify-content: space-between;
    padding: 5rem 8rem;
    background-color: var(--primary-color);
}
#footer p {
    font-family: Roboto;
    font-weight: 200;
}
.footer-left-container {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    gap: 2em;
}
.footer-socials {
    display: flex;
    gap: 2em;
}
.footer-phone, .footer-email {
    display: flex;
    gap: 1em;
    align-items: center;
}
.footer-phone-email {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-socials img, .footer-phone-email img {
    width: 2rem;
}
.footer-phone-email img {
    filter: var(--secondary-icon-color);
}
.footer-socials img {
    filter: var(--primary-icon-color);
}
.footer-right-container {
    position: relative;
}
.footer-overlay {
    position: absolute;
    background: rgba(0,0,0,0.4);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ANIMATION */
.about-me-container img:hover, .card-links img:hover, .footer-socials img:hover {
    transform: scale(1.1);
    filter: var(--secondary-icon-color);
}
 
.about-me-container img, .card-links img, .footer-socials img {
    transition: transform .3s ease-in-out, filter .5s ease-in-out;
    filter: var(--primary-icon-color);
}

/* MEDIA QUERIES */
@media (max-width: 1500px) {
    #main {
        align-items: center;
        padding: 5rem 8rem;
    }
    #main h1 {
        align-self: flex-start;
    }
    .card-container {
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
}

@media (max-width: 1250px) {
    #main, #footer, #header {
        padding: 5rem 7rem;
    }
    /* HEADER */
    .header-photo-container {
        min-width: 20rem;
    }

    /* MAIN */
    .card-container {
        gap: 3rem;
    }
    .card h2 {
        max-width: 14rem;
    }
    .card-name-links {
        align-items: flex-start;
    }

    /* FOOTER */
    .footer-right-container {
        max-width: 30rem;
        overflow: hidden;
        height: fit-content;
    }
}

@media (max-width: 1024px) {
    #main, #footer, #header {
        padding: 5rem 6rem;
    }
    .card .main-image {
        height: 15rem;
    }
    .footer-right-container img {
        max-width: 25rem;
    }
    .footer-right-container {
        overflow: hidden;
        height: fit-content;
    }
}

@media (max-width: 768px) {
    #main, #footer, #header {
        padding: 5rem 5rem;
    }

    /* HEADER */
    #header {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }

    #header h1 {
        align-self: flex-end;
    }

    .header-photo-container {
        top: 1%;
        right: 15%;
        z-index: 2;
    }
    .about-me-container {
        position: relative;
        top: -9%;
    }

    .card .main-image {
        height: 12rem;
    }
    h2 {
        font-size: 1.3em;
    }
    p {
        font-size: 1em;
    }

    /* FOOTER */
    .footer-right-container  {
        position: relative;
        overflow: hidden;
        height: fit-content;
    }
    .footer-right-container img {
        max-width: 17rem;
        object-fit: cover;
    }
}

@media (max-width: 480px) {
    /* HEADER */
    #header {
        gap: 3em;
    }
    #header h1 {
        align-self: center;
    }
    .about-me-container {
        position: static;
    }
    .header-photo-container {
        position: relative;
        left: 0;
    }

    /* MAIN */
    #main, #footer, #header {
        padding: 4rem 3rem;
    }
    #main h1 {
        align-self: center;
    }
    .card-container {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    .card .main-image {
        height: 19rem;
    }

    /* FOOTER  */
    #footer {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    #footer h1, .footer-socials {
        align-self: center;
    }
    .footer-left-container {
        align-self: center;
    }
    .footer-right-container {
        margin-right: -3rem;
        margin-left: -3rem;
        margin-bottom: -4rem;
    }
    .footer-right-container img {
        max-width: 100%;
    }
}