@font-face {
    font-family: Roboto;
    src: url(/src/assets/fonts/Roboto-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: Merriweather;
    src: url(/src/assets/fonts/Merriweather-VariableFont_opsz\,wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root {
--primary-color: ;
--secondary-color:

--primary-font-color: ;

--primary-icon-color: ;
}
  
img {
    max-width: 100%;
    display: block;
    height: auto;
}
